numpy
pandas
mne
torch
kagglehub
ipykernel
scikit-learn
fastparquet
pypdf   

kagglehub
sentence-transformers

langchain-text-splitters
langchain-openai
langchain-chroma
langchain-huggingface
langchain_classic
langchain-groq

embedding-atlas
anywidget